<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">	
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="#{label.product.definitions}"></title>

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

	<!-- CKEditor JavaScript -->
	<script src="/static/ckeditor/standard/ckeditor.js" th:src="@{/ckeditor/standard/ckeditor.js}"></script>
	<script src="/static/ckeditor/standard/adapters/jquery.js" th:src="@{/ckeditor/standard/adapters/jquery.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 
<script>
$(function() {
	$("#dateOfIssued").datepicker({autoclose: true});
		/* $("#address").autocomplete({
        source : function(request, response) {
            $.ajax({
                url : "/department/get_tag_list",
                data : {
                    input : request.term
                },
                success : function(data) {
                    response(data);
                }
            });
        }
    }); */
	
	/* $( "#parent" ).autocomplete({
		  source: '/department/getParents',
		  minLength: 2,
		  delimiter: ",",
		  success: function(response) {
				return {
					  //must convert json to javascript object before process
					  suggestions: $.map($.parseJSON(response), function(item) {

					      return { value: item.name, data: item.id };
					   })

					 };
		}
	}); */
	
	//attach autocomplete
   /*  $("#tagQuery").autocomplete({    	
    	minLength: 1,
    	delay: 500,
    	
    	//define callback to format results 
        source: function (request, response) {
            $.getJSON("/department/get_tag_list", request, function(result) {                
                response($.map(result, function(item) {                	
                    return {
                        // following property gets displayed in drop down
                        label: item.code+"-"+item.tagName,
                        // following property gets entered in the textbox
                        value: item.tagName,
                        valueId: item.id,
                        valueCode: item.code
                    }
                	
                }));
        	}); 
    	},
        
    	//define select handler
    	select : function(event, ui) {
            if (ui.item) {       
            	//alert('Name: ' + ui.item.value + '. Id: ' + ui.item.valueId + ". Code: " + ui.item.valueCode);
            	event.preventDefault();
                //$("#tagQuery").value = $("#tagQuery").defaultValue
                var defValue = $("#tagQuery").prop('defaultValue');
                $("#tagQuery").val(ui.item.value);
                $("#parentId").val(ui.item.valueId);
                $("#parentCode").val(ui.item.valueCode);
                $("#parentName").val(ui.item.value);
                $("#tagQuery").blur();
                return false; 
            }
    	}
    	  	
    }); */

    $("#parentCode").autocomplete({    	
    	minLength: 1,
    	delay: 500,
    	
    	//define callback to format results 
        source: function (request, response) {
            $.getJSON("/product/suggest", request, function(result) {                
                response($.map(result, function(item) {                	
                    return {
                        // following property gets displayed in drop down
                        label: item.code,
                        // following property gets entered in the textbox
                        valueName: item.name,
                        valueId: item.id,
                        valueCode: item.code
                    }
                	
                }));
        	}); 
    	},
        
    	//define select handler
    	select : function(event, ui) {
            if (ui.item) {       
            	//alert('Name: ' + ui.item.value + '. Id: ' + ui.item.valueId + ". Code: " + ui.item.valueCode);
            	event.preventDefault();
                $("#parentId").val(ui.item.valueId);
                $("#parentCode").val(ui.item.valueCode);
                $("#parentName").val(ui.item.valueName);
                $("#parentCode").blur();
                return false; 
            }
    	}
    	  	
    });
	
    $("#parentName").autocomplete({    	
    	minLength: 3,
    	delay: 200,
    	
    	//define callback to format results 
        source: function (request, response) {
            $.getJSON("/product/suggest", request, function(result) {                
                response($.map(result, function(item) {                	
                    return {
                        // following property gets displayed in drop down
                        label: item.name,
                        // following property gets entered in the textbox
                        valueName: item.name,
                        valueId: item.id,
                        valueCode: item.code
                    }
                	
                }));
        	}); 
    	},
        
    	//define select handler
    	select : function(event, ui) {
            if (ui.item) {       
            	//alert('Name: ' + ui.item.value + '. Id: ' + ui.item.valueId + ". Code: " + ui.item.valueCode);
            	event.preventDefault();
                $("#parentId").val(ui.item.valueId);
                $("#parentCode").val(ui.item.valueCode);
                $("#parentName").val(ui.item.valueName);
                $("#parentCode").blur();
                return false; 
            }
    	}
    	  	
    });
	
	/*
	$('#parent').autocomplete({
		serviceUrl: '${pageContext.request.contextPath}/getParents',
		paramName: "contextSearch",
	  source: function(response) {
			console.log(response);
	  }

	 });
	*/
});
</script>
</head>

<body>
	<section layout:fragment="header">
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i><span th:text="#{label.homePage}"></span></a></li>
      <li><a href="/product/"><i class="fa fa-dashboard"></i><span th:text="#{label.product.definitions}"></span></a></li>
      <li class="active" th:text="#{label.product.definition}"></li>
    </ol>
	</section>
	<div layout:fragment="content" sec:authorize="hasRole('ROLE_ADMIN')">
		<div>
			<div class="nav-tabs-custom">
	      <ul class="nav nav-tabs">
	      	<li class="active"><a href="#generalInfoTabPane" data-toggle="tab"><span th:text="#{label.product.generalInformation}"></span></a></li>
	      	<li><a href="#imagesTabPane" data-toggle="tab"><span th:text="#{label.product.images}"></span></a></li>
	      	<li><a href="#displayOptionsTabPane" data-toggle="tab"><span th:text="#{label.product.displayOptions}"></span></a></li>
	      	<li><a href="#detailsTabPane" data-toggle="tab"><span th:text="#{label.product.details}"></span></a></li>
	      	<li><a href="#identifiersTabPane" data-toggle="tab"><span th:text="#{label.product.identifiers}"></span></a></li>
	      	<li><a href="#ordersTabPane" data-toggle="tab"><span th:text="#{label.product.orders}"></span></a></li>
	      	<li><a href="#eventBookingsTabPane" data-toggle="tab"><span th:text="#{label.product.eventBookings}"></span></a></li>
	      	<li><a href="#subscriptionsTabPane" data-toggle="tab"><span th:text="#{label.product.subscriptions}"></span></a></li>
	      	<li><a href="#feedbackTabPane" data-toggle="tab"><span th:text="#{label.product.feedback}"></span></a></li>
	      	<li><a href="#appointmentsTabPane" data-toggle="tab" ><span th:text="#{label.product.appointments}"></span></a></li>
	        <li><a href="#hierarchyTabPane" data-toggle="tab"><span th:text="#{label.product.hierarchy}"></span></a></li>
	        <li><a href="#timelineTabPane" data-toggle="tab"><span th:text="#{label.product.timeline}"></span></a></li>
	        <li><a href="#dataAdminTabPane" data-toggle="tab"><span th:text="#{label.dataadmin.object}"></span></a></li>
	        <li><a href="#settingsTabPane" data-toggle="tab"><span th:text="#{label.general.settings}"></span></a></li>
          <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">
               <span th:text="#{label.general.more}"></span><span class="caret"></span>
             </a>
             <ul class="dropdown-menu">
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span th:text="#{label.product.opportunities}"></span></a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span th:text="#{label.product.warehouse}"></span></a></li>
               <li role="presentation" class="divider"></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span th:text="#{label.product.transactions}"></span></a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span th:text="#{label.product.losing}"></span></a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span th:text="#{label.product.stocking}"></span></a></li>
             </ul>
          </li>
	      	<li><a href="#relatedTabPane" data-toggle="tab"><span th:text="#{label.product.related}"></span></a></li>
	      </ul>
	      <div class="tab-content">
	      	<div class="active tab-pane" id="generalInfoTabPane">
	      		<form class="form-horizontal" action="#" th:object="${fetchedObject}" enctype="multipart/form-data" method="post" th:action="@{/product/create}">
							<div th:if="${message}">
								<div id="message" th:class="${message.type}" th:text="${message.message}">Message area</div>
							</div>
								
							<div class="form-group" th:if="${fetchedObject.id}">
							  <div class="row">
							  <label for="inputId" class="col-sm-2 control-label" th:text="#{label.general.id}"></label>
								
							  <div class="col-sm-1">
							    <input type="text" class="form-control" id="inputId" th:field="*{id}" disabled="disabled" size="15">
							  </div>
							  </div>
							</div>
				
				      <div class="form-group">
							  <div class="row">
				           <label for="inputCode" class="col-sm-2 control-label" th:text="#{label.general.code} + '*'"></label>
				
				           <div class="col-sm-2">
				             <input type="text" class="form-control" id="inputCode" th:placeholder="#{label.general.code}" th:field="*{code}" required="required">
				             <div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" th:class="error"></div>
				           </div>
				           </div>
				         </div>
				         <div class="form-group">
							  <div class="row">
				           <label for="name" class="col-sm-2 control-label" th:text="#{label.product.name} + '*'"></label>
				
				           <div class="col-sm-5">
				             <input type="text" class="form-control" id="inputName" name="inputName" th:field="*{name}" th:placeholder="#{label.product.name}" />
				             <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="error"></div>
				           </div>
				           </div>
				         </div>
				        <div class="form-group">
							  	<div class="row">
				          	<label for="inputLongName" class="col-sm-2 control-label" th:text="#{label.product.longName}"></label>
										<div class="col-sm-5">
										  <input type="text" class="form-control" id="inputLongName" name="longName" th:field="*{longName}" th:placeholder="#{label.product.longName}">
										  <div th:if="${#fields.hasErrors('longName')}" th:errors="*{longName}" th:class="error"></div>
										</div>
									</div>
								</div>
				        <div class="form-group">
							  	<div class="row">
				          	<label for="inputConcentration" class="col-sm-2 control-label" th:text="#{label.product.concentration}"></label>
										<div class="col-sm-5">
										  <input type="text" class="form-control" id="inputConcentration" name="concentration" th:field="*{concentration}" th:placeholder="#{label.product.concentration}">
										  <div th:if="${#fields.hasErrors('concentration')}" th:errors="*{concentration}" th:class="error"></div>
										</div>
									</div>
						</div>
				        <div class="form-group">
							  	<div class="row">
										<label for="dateOfManufacturing" class="col-sm-2 control-label" th:text="#{label.product.dateOfManufacturing}"></label>
				
					          <div class="col-sm-2">
					          	<input type="text" class="form-control"  id="dateOfManufacturing" th:field="*{manufacturingDate}" th:placeholder="#{label.product.dateOfManufacturing}" />
					           	<div th:if="${#fields.hasErrors('manufacturingDate')}" th:errors="*{manufacturingDate}">Date of manufacturing error</div>
					        	</div>
				         	</div>
				        </div>
				        <div class="form-group">
							  	<div class="row">
										<label for="dateOfIssued" class="col-sm-2 control-label" th:text="#{label.general.issueDate}"></label>
				
					          <div class="col-sm-2">
					          	<input type="text" class="form-control"  id="dateOfIssued" th:field="*{issueDate}" th:placeholder="#{label.general.issueDate}" />
					           	<div th:if="${#fields.hasErrors('issueDate')}" th:errors="*{issueDate}">Date of issue error</div>
					        	</div>
				         	</div>
				        </div>

				        <div class="form-group">
							  	<div class="row">
					          <label for="objectDescription" class="col-sm-2 control-label" th:text="#{label.general.description}"></label>
				
					          <div class="col-sm-9">
					            <textarea class="ckeditor" rows="8" id="objectDescription" th:field="*{description}"></textarea>
											<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
					          </div>
				          </div>
				         </div>
				         <div class="form-group">
				         		<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" class="btn btn-success " th:text="#{label.general.save}" style="width: 100px"></button>				
											<button type="reset" class="btn btn-primary" th:text="#{label.general.reset}" style="width: 100px"></button>
											<a id="btnCancel" href="browse.html" th:href="@{/product/}" class="btn btn-primary" th:text="#{label.general.cancel}" style="width: 100px"></a>
				         		</div>
				         </div>
								<input type="hidden" th:field="*{id}" /> 
							</form>
	      	</div>
	      	<div class="tab-pane" id="imagesTabPane">
						<div class="row">
						        <div class="col-md-4">
						          <!-- Widget: user widget style 1 -->
						          <div class="box box-widget widget-user-2">
						            <!-- Add the bg color to the header using any of the bg-* classes -->
						            <div class="widget-user-header bg-yellow">
						              <div class="widget-user-image">
						                <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
						              </div>
						              <!-- /.widget-user-image -->
						              <h3 class="widget-user-username">Nadia Carmichael</h3>
						              <h5 class="widget-user-desc">Lead Developer</h5>
						            </div>
						            <div class="box-footer no-padding">
						              <ul class="nav nav-stacked">
						                <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
						                <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
						                <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
						                <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
						              </ul>
						            </div>
						          </div>
						          <!-- /.widget-user -->
						        </div>
						        <!-- /.col -->
						        <div class="col-md-4">
						          <!-- Widget: user widget style 1 -->
						          <div class="box box-widget widget-user">
						            <!-- Add the bg color to the header using any of the bg-* classes -->
						            <div class="widget-user-header bg-aqua-active">
						              <h3 class="widget-user-username">Alexander Pierce</h3>
						              <h5 class="widget-user-desc">Founder &amp; CEO</h5>
						            </div>
						            <div class="widget-user-image">
						              <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
						            </div>
						            <div class="box-footer">
						              <div class="row">
						                <div class="col-sm-4 border-right">
						                  <div class="description-block">
						                    <h5 class="description-header">3,200</h5>
						                    <span class="description-text">SALES</span>
						                  </div>
						                  <!-- /.description-block -->
						                </div>
						                <!-- /.col -->
						                <div class="col-sm-4 border-right">
						                  <div class="description-block">
						                    <h5 class="description-header">13,000</h5>
						                    <span class="description-text">FOLLOWERS</span>
						                  </div>
						                  <!-- /.description-block -->
						                </div>
						                <!-- /.col -->
						                <div class="col-sm-4">
						                  <div class="description-block">
						                    <h5 class="description-header">35</h5>
						                    <span class="description-text">PRODUCTS</span>
						                  </div>
						                  <!-- /.description-block -->
						                </div>
						                <!-- /.col -->
						              </div>
						              <!-- /.row -->
						            </div>
						          </div>
						          <!-- /.widget-user -->
						        </div>
						        <!-- /.col -->
						        <div class="col-md-4">
						          <!-- Widget: user widget style 1 -->
						          <div class="box box-widget widget-user">
						            <!-- Add the bg color to the header using any of the bg-* classes -->
						            <div class="widget-user-header bg-black" style="background: url('../dist/img/photo1.png') center center;">
						              <h3 class="widget-user-username">Elizabeth Pierce</h3>
						              <h5 class="widget-user-desc">Web Designer</h5>
						            </div>
						            <div class="widget-user-image">
						              <img class="img-circle" src="../dist/img/user3-128x128.jpg" alt="User Avatar">
						            </div>
						            <div class="box-footer">
						              <div class="row">
						                <div class="col-sm-4 border-right">
						                  <div class="description-block">
						                    <h5 class="description-header">3,200</h5>
						                    <span class="description-text">SALES</span>
						                  </div>
						                  <!-- /.description-block -->
						                </div>
						                <!-- /.col -->
						                <div class="col-sm-4 border-right">
						                  <div class="description-block">
						                    <h5 class="description-header">13,000</h5>
						                    <span class="description-text">FOLLOWERS</span>
						                  </div>
						                  <!-- /.description-block -->
						                </div>
						                <!-- /.col -->
						                <div class="col-sm-4">
						                  <div class="description-block">
						                    <h5 class="description-header">35</h5>
						                    <span class="description-text">PRODUCTS</span>
						                  </div>
						                  <!-- /.description-block -->
						                </div>
						                <!-- /.col -->
						              </div>
						              <!-- /.row -->
						            </div>
						          </div>
						          <!-- /.widget-user -->
						        </div>
						        <!-- /.col -->
						      </div>
      	      	</div>
	      	<div class="tab-pane" id="detailsTabPane">
	      		<label>Product detailed information pane. </label>
	      	</div>
	      	<div class="tab-pane" id="displayOptionsTabPane">
            <div class="box-body">
              <img class="img-responsive pad" src="../dist/img/photo2.png" alt="Photo">

              <p>I took this photo this morning. What do you guys think?</p>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
              <span class="pull-right text-muted">127 likes - 3 comments</span>
            </div>
	      	</div>
	      	<div class="tab-pane" id="identifiersTabPane">
	      		<label>Product identifiers pane</label>
	      	</div>
	      	<div class="tab-pane" id="ordersTabPane">
	      		<label>Supplier Orders</label>
	      	</div>
	      	<div class="tab-pane" id="eventBookingsTabPane">
	      		<label>Supplier Bookings</label>
	      	</div>
	      	<div class="tab-pane" id="subscriptionsTabPane">
	      		<label>Customer Subscriptions</label>
	      	</div>
	      	<div class="tab-pane" id="feedbackTabPane">
	      		<label>Customer feedback, complaints, re-open tickets</label>
	      	</div>
	      	<div class="tab-pane" id="appointmentsTabPane">
	      		<label>Customer Appointments</label>
	      	</div>
	      	<div class="tab-pane" id="hierarchyTabPane">
	      		<label>Product Hierarchy</label>
	      		<ul data-widget="tree">
					  <li><a href="#">Same Level</a></li>
					  <li class="treeview">
					    <a href="#">Hierarchy approach</a>
					    <ul class="treeview-menu">
					      <li><a href="#">Sub level 1</a>
							    <ul class="treeview-menu">
							      <li><a href="#">Sub level 1.1</a></li>
							      <li><a href="#">Sub level 1.2</a></li>
							    </ul>
					      </li>
					      <li><a href="#">Sub level 2</a>
							    <ul class="treeview-menu">
							      <li><a href="#">Sub level 2.1</a></li>
							      <li><a href="#">Sub level 2.2</a></li>
							    </ul>
					      </li>
					    </ul>
					  </li>
					</ul>
	      	</div>
	      	<div class="tab-pane" id="timelineTabPane">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          19 Jan. 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i>12:45</span>

                      <h3 class="timeline-header"><a href="#">Support Team</a> deploy employee data</h3>

                      <div class="timeline-body">
                        This shows the extended capabilities of Data Security
												 incorporated into a more complex network environment. It shows an
												 extra Data Security server and several additional agents deployed
												 for businesses with larger transaction volumes and numbers of users. Such a deployment is su
												ited for large organizations with multiple Internet egress points distributed over 
												multiple geographical locations. Very large deployments can have multiple Data Security servers and protectors.
                      </div>
                      <div class="timeline-footer">
                      	<a class="btn btn-primary btn-xs" href="/dataAdmin/importEmployees">Perform</a>
                      	<a class="btn btn-primary btn-xs" href="/dataAdmin/importCatalogues">Import Catalogs</a>
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>
                    </div>
                  </li>
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                      <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                      <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-user bg-aqua"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                      <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                      </h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-comments bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                      <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-green">
                          23 Feb. 2018
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-camera bg-purple"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                      <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                      <div class="timeline-body">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>
              </div>
	      	<div class="tab-pane" id="dataAdminTabPane">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          19 Dec. 2017
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i>12:45</span>

                      <h3 class="timeline-header"><a href="#">Support Team</a> deploy employee data</h3>

                      <div class="timeline-body">
                        This shows the extended capabilities of Data Security
												 incorporated into a more complex network environment. It shows an
												 extra Data Security server and several additional agents deployed
												 for businesses with larger transaction volumes and numbers of users. Such a deployment is su
												ited for large organizations with multiple Internet egress points distributed over 
												multiple geographical locations. Very large deployments can have multiple Data Security servers and protectors.
                      </div>
                      <div class="timeline-footer">
                      	<a class="btn btn-primary btn-xs" href="/dataAdmin/importProducts">Perform</a>
                      	<a class="btn btn-primary btn-xs" href="/dataAdmin/importCatalogues">Import Catalogs</a>
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>
                    </div>
                  </li>
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                      <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                      <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                        weebly ning heekya handango imeem plugg dopplr jibjab, movity
                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                        quora plaxo ideeli hulu weebly balihoo...
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-user bg-aqua"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                      <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                      </h3>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-comments bg-yellow"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                      <div class="timeline-body">
                        Take me to your leader!
                        Switzerland is small and neutral!
                        We are more like Germany, ambitious and misunderstood!
                      </div>
                      <div class="timeline-footer">
                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-green">
                          31 Dec. 2016
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-camera bg-purple"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                      <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                      <div class="timeline-body">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                        <img src="http://placehold.it/150x100" alt="..." class="margin">
                      </div>
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>
              </div>
          <div class="tab-pane" id="settingsTabPane">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-1 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-1 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
	      </div>
			</div>
		</div>
		<br/>
			<!-- <h3 th:text="${fetchedObject.id == null}? #{label.department.definition(#{label.general.addNew}, #{label.object.department})}:#{label.department.definition(#{label.general.updateExisting}, #{label.object.department})}" ></h3> -->
	</div>
</body>
</html>