<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:text="#{label.store.definition}"></title>

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

	<!-- CKEditor JavaScript -->
	<script src="/static/ckeditor/standard/ckeditor.js" th:src="@{/ckeditor/standard/ckeditor.js}"></script>
	<script src="/static/ckeditor/standard/adapters/jquery.js" th:src="@{/ckeditor/standard/adapters/jquery.js}"></script>
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 
	<script>
$(function() {
	$("#issueDate").datepicker({autoclose: true});
	//Coordinator suggestion
	$("#coordinatorCode").autocomplete({    	
	  	minLength: 1,
	  	delay: 500,
	  	
	  	//define callback to format results 
	    source: function (request, response) {
				$.getJSON("/store/suggestCoordinator", request, function(result) {                
	      	response($.map(result, function(item) {                	
	        	return {
		          // following property gets displayed in drop down
		          label: item.code,
		          // following property gets entered in the textbox
		          valueName: item.name,
		          valueId: item.id,
		          valueCode: item.code
	          }
	        }));
	    	}); 
	  	},

	  	//define select handler
	  	select : function(event, ui) {
	          if (ui.item) {       
	          	event.preventDefault();
	              $("#coordinatorId").val(ui.item.valueId);
	              $("#coordinatorCode").val(ui.item.valueCode);
	              $("#coordinatorName").val(ui.item.valueName);
	              $("#coordinatorCode").blur();
	              return false; 
	          }
	  	}
	});

	$("#coordinatorName").autocomplete({    	
	  	minLength: 1,
	  	delay: 500,
	  	
	  	//define callback to format results 
	    source: function (request, response) {
				$.getJSON("/store/suggestCoordinator", request, function(result) {                
	      	response($.map(result, function(item) {                	
	        	return {
		          // following property gets displayed in drop down
		          label: item.name,
		          // following property gets entered in the textbox
		          valueName: item.name,
		          valueId: item.id,
		          valueCode: item.code
	          }
	        }));
	    	}); 
	  	},

	  	//define select handler
	  	select : function(event, ui) {
	          if (ui.item) {       
	          	event.preventDefault();
	              $("#coordinatorId").val(ui.item.valueId);
	              $("#coordinatorCode").val(ui.item.valueCode);
	              $("#coordinatorName").val(ui.item.valueName);
	              $("#coordinatorCode").blur();
	              return false; 
	          }
	  	}
	});
	//End of coordinator suggestion
	
	$("#categoryCode").autocomplete({    	
	  	minLength: 1,
	  	delay: 500,
	  	
	  	//define callback to format results 
	    source: function (request, response) {
				$.getJSON("/store/suggestCategory", request, function(result) {                
	      	response($.map(result, function(item) {                	
	        	return {
		          // following property gets displayed in drop down
		          label: item.code,
		          // following property gets entered in the textbox
		          valueName: item.name,
		          valueId: item.id,
		          valueCode: item.code
	          }
	        }));
	    	}); 
	  	},

	  	//define select handler
	  	select : function(event, ui) {
	          if (ui.item) {       
	          	event.preventDefault();
	              $("#categoryId").val(ui.item.valueId);
	              $("#categoryCode").val(ui.item.valueCode);
	              $("#categoryName").val(ui.item.valueName);
	              $("#categoryCode").blur();
	              return false; 
	          }
	  	}
	});

	$("#categoryName").autocomplete({    	
	  	minLength: 1,
	  	delay: 500,
	  	
	  	//define callback to format results 
	    source: function (request, response) {
				$.getJSON("/store/suggestCategory", request, function(result) {                
	      	response($.map(result, function(item) {                	
	        	return {
		          // following property gets displayed in drop down
		          label: item.name,
		          // following property gets entered in the textbox
		          valueName: item.name,
		          valueId: item.id,
		          valueCode: item.code
	          }
	        }));
	    	}); 
	  	},

	  	//define select handler
	  	select : function(event, ui) {
	          if (ui.item) {       
	          	event.preventDefault();
	              $("#categoryId").val(ui.item.valueId);
	              $("#categoryCode").val(ui.item.valueCode);
	              $("#categoryName").val(ui.item.valueName);
	              $("#categoryCode").blur();
	              return false; 
	          }
	  	}
	});

	$("#parentCode").autocomplete({    	
  	minLength: 1,
  	delay: 500,
  	
  	//define callback to format results 
    source: function (request, response) {
			$.getJSON("/store/suggest", request, function(result) {                
      	response($.map(result, function(item) {                	
        	return {
	          // following property gets displayed in drop down
	          label: item.code,
	          // following property gets entered in the textbox
	          valueName: item.name,
	          valueId: item.id,
	          valueCode: item.code
          }
        }));
    	}); 
  	},

  	//define select handler
  	select : function(event, ui) {
          if (ui.item) {       
          	event.preventDefault();
              $("#parentId").val(ui.item.valueId);
              $("#parentCode").val(ui.item.valueCode);
              $("#parentName").val(ui.item.valueName);
              $("#parentCode").blur();
              return false; 
          }
  	}
	});
	
    $("#parentName").autocomplete({    	
    	minLength: 3,
    	delay: 200,
    	
    	//define callback to format results 
        source: function (request, response) {
            $.getJSON("/store/suggest", request, function(result) {                
                response($.map(result, function(item) {                	
                    return {
                        // following property gets displayed in drop down
                        label: item.name,
                        // following property gets entered in the textbox
                        valueName: item.name,
                        valueId: item.id,
                        valueCode: item.code
                    }
                	
                }));
        	}); 
    	},
        
    	//define select handler
    	select : function(event, ui) {
            if (ui.item) {       
            	//alert('Name: ' + ui.item.value + '. Id: ' + ui.item.valueId + ". Code: " + ui.item.valueCode);
            	event.preventDefault();
                $("#parentId").val(ui.item.valueId);
                $("#parentCode").val(ui.item.valueCode);
                $("#parentName").val(ui.item.valueName);
                $("#parentCode").blur();
                return false; 
            }
    	}
    	  	
    });
});
</script>
</head>

<body>
	<section layout:fragment="header">
		<h1 th:text="${fetchedObject.id == null}? #{label.general.definition(#{label.general.addNew}, #{label.store.object})}:#{label.general.definition(#{label.general.updateExisting}, #{label.store.object})}" ></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i><span th:text="#{label.homePage}">Home</span></a></li>
      <li><a href="/store/"><i class="fa fa-dashboard"></i><span th:text="#{label.store.definitions}">Stores</span></a></li>
      <li class="active" th:text="#{label.store.definition}">Store</li>
    </ol>
	</section>
	<div layout:fragment="content" sec:authorize="hasRole('ROLE_ADMIN')">
			<form action="#" th:object="${fetchedObject}" enctype="multipart/form-data" method="post" th:action="@{/store/create}">
				<div th:if="${message}">
					<div id="message" th:class="${message.type}" th:text="${message.message}">Message area</div>
				</div>
				<table border="0" style="width: 100%">
					<tr th:if="${fetchedObject.id}">
						<td><label for="id" th:text="#{label.general.id}"></label></td>
						<td><input type="text" id="id" size="15" th:field="*{id}" disabled="disabled" /></td>
					</tr>
					<tr>
						<td><label for="code" th:text="#{label.general.code} + '*'"></label></td>
						<td>
							<input type="text" id="code" size="15" th:field="*{code}" required="required" />
							<div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" th:class="error"></div>
						</td>
					</tr>
					<tr>
						<td><label for="name" th:text="#{label.general.name} + '*'"></label></td>
						<td><input type="text" id="name" size="60" th:field="*{name}" required="required" />
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="error"></div>
						</td>
					</tr>
					<tr>
						<td><label for="hotLine" th:text="#{label.store.hotLine}"></label></td>
						<td><input type="text" id="hotLine" size="60" th:field="*{hotLine}" />
							<div th:if="${#fields.hasErrors('hotLine')}" th:errors="*{hotLine}" th:class="error"></div>
						</td>
					</tr>
					<tr>
						<td><label for="address" th:text="#{label.store.address}"></label></td>
						<td><input type="text" id="address" size="160" th:field="*{address}" />
							<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:class="error"></div>
						</td>
					</tr>
					<tr>
						<td><label for="issueDate" th:text="#{label.general.issueDate}"></label></td>
						<td><input type="text" id="issueDate" th:field="*{issueDate}" placeholder="dd/MM/yyyy" />
							<div th:if="${#fields.hasErrors('issueDate')}" th:errors="*{issueDate}">Date of issue</div>
						</td>
					</tr>
					<tr>
						<td><label for="file" th:text="#{label.general.photo}"></label></td>
						<td>
							<img th:src="@{/store/photo/{id}(id=${fetchedObject.id})}" th:if="${fetchedObject.id}" width="50" height="50"></img>
							<input name="file" type="file" style="color:transparent;"/>
						</td>
					</tr>
					<tr>
						<td><label for="objectDescription" th:text="#{label.general.description} + '*'"></label></td>
						<td><textarea class="ckeditor" cols="60" rows="8" id="objectDescription" th:field="*{note}"></textarea>
							<div th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></div>
						</td>
					</tr>
					<tr>
						<td><label for="parentCode" th:text="#{label.general.parent}"></label></td>
						<td>
							<input name="parentCode" id="parentCode" th:field="*{parent.code}" class="ui-autocomplete-input ui-corner-all" />
							<input name="parentName" id="parentName" th:field="*{parent.name}" class="ui-autocomplete-input ui-corner-all" style="width: 250px" />
							<input name="parentId" id="parentId" type="hidden"/>
						</td>
					</tr>
					<tr>
						<td><label for="coordinatorCode" th:text="#{label.store.coordinator}"></label></td>
						<td>
							<input name="coordinatorCode" id="coordinatorCode" th:field="*{coordinator.code}" class="ui-autocomplete-input ui-corner-all" />
							<input name="coordinatorName" id="coordinatorName" th:field="*{coordinator.fullName}" class="ui-autocomplete-input ui-corner-all" style="width: 250px" />
							<input name="coordinatorId" id="coordinatorId" type="hidden"/>
						</td>
					</tr>
				</table>

				<input type="hidden" th:field="*{id}" /> 
				<br/>
				<div>
					<button type="submit" class="btn btn-success " th:text="#{label.general.save}"></button>				
					<button type="reset" class="btn btn-primary" th:text="#{label.general.reset}"></button>
					<a id="btnCancel" th:href="@{/store/}" class="btn btn-primary" th:text="#{label.general.cancel}"></a> 
				</div>
			</form>
	</div>
</body>
</html>