<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sd="http://www.thymeleaf.org/spring-data" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout">
<head>
	<script th:src="@{/js/vbbFunctions.js}" type="text/javascript"></script>
	<title th:text="#{label.forum.definitions}">Categories</title>
</head>
<body>
<section layout:fragment="header">
	<h1 th:text="#{label.forum.definitions}"></h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i><span th:text="#{label.homePage}">Home</span></a></li>
    <li class="active" th:text="#{label.forum.definitions}">Categories</li>
  </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><span th:text="#{label.forum.definitions}">List of categories</span></h3>
            <div class="box-tools pull-right" sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="/forum/create" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
<!-- Search section -->
	<form>
		<span class="subtitle">Search forums</span>
		<div class="listBlock">
			<div class="search-block">
				<label for="searchPattern" th:text="search">Search keyword:</label>
				<input type="text" id="searchPattern" name="searchPattern"/>
				<br />
				<button id="searchButton" name="searchButton" onclick="retrieveSearchObjects()" type="button" th:text="search">Search button</button>
			</div>
			<!-- Results block -->
			<div id="resultsBlock">
			</div>
		</div>
	</form>

<!-- End of search section -->
        
        <div class="box-body no-padding" th:unless="${#lists.isEmpty(fetchedObjects)}">
            <table class="table table-striped">
                <tr>
										<th th:text="#{label.general.name}"></th>
                    <th th:text="#{label.general.parent}"></th>
                </tr>
                <tr th:each="row : ${fetchedObjects}">
                    <td><a th:href="${'/forum/' + row.id}" th:text="${row.name}"></a></td>
                    <td><a th:if="${row.parent}" th:href="${'/forum/' + row.parent.id}" th:text="${row.parent.name}"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${endIndex gt 0}">
	        <div class="box-footer clearfix">
	            <ul class="pagination pagination-sm no-margin pull-right">
	                <li><a href="/forum/list/1"><span th:text="#{label.general.first}">First</span></a></li>
	                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
	                    <a th:href="${'/forum/list/' + p}" th:text="${p}"></a>
	                </li>
	                <li><a th:href="${'/forum/list/' + endIndex}"><span th:text="#{label.general.last}">Last</span></a></li>
	            </ul>
	        </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Collapsible Accordion</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="box-body">
                      Collapsible Group Item #1: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel box box-danger">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Danger</a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="box-body">
                      Collapsible Group Danger: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Success</a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="box-body">
                      Collapsible Group Success: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
				<div th:each="fetchedObject : ${fetchedObjects}">
					<div class="box-group" id="accordionx">
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordionx" th:href="@{'#collapse' + ${fetchedObject.id}}"><span th:text="${fetchedObject.name}"/></a>
                    </h4>
                  </div>
                  <div th:id="@{'collapse' + ${fetchedObject.id}}" class="panel-collapse collapse in">
                    <div class="box-body">
             	        <div class="box-body no-padding" th:unless="${#lists.isEmpty(fetchedObject.topics)}">
							            <table class="table table-striped">
							                <tr th:each="row : ${fetchedObject.topics}">
							                    <td><a th:href="${'/forum/' + row.id}" th:text="${row.name}"></a></td>
							                </tr>
							            </table>
							        </div>
                    </div>
                  </div>
                </div>
					</div>
				</div> 
    </div>
</div>
</body>
</html>
